files:
    "/etc/cron.d/asset_sync_cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root /usr/local/bin/asset_sync_cron.sh

    "/usr/local/bin/asset_sync_cron.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # Your actual script content
            aws s3 sync /var/lib/ghost/content/images s3://${S3_ASSET_BUCKET}/images
            exit 0

commands:
  01_make_ghost_assest_dir:
    command: mkdir -p /var/lib/ghost/content/images 
  02_copy_ghost_assests_from_s3:
    command: aws s3 cp s3://${S3_ASSET_BUCKET}/images  /var/lib/ghost/content/images --recursive
  03_remove_old_cron:
        command: "rm -f /etc/cron.d/asset_sync_cron.bak"
